[Unit]
Description=Ethnos API
After=network.target

[Service]
Type=simple
User=bruno
Group=bruno
WorkingDirectory=/home/bruno/api
EnvironmentFile=/etc/node-backend.env
ExecStart=/usr/bin/node /home/bruno/api/src/app.js
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target